:root {
  --header-color: #fff;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --second-title-color: #757575;
  --third-title-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.text {
  cursor: text;
}
.pointer {
  cursor: pointer;
}
.post-title {
  text-align: center;
}

.align-left {
  text-align: left;
}
.title {
  color: var(--third-title-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* .header-first-link::after {
  cursor: pointer;
}
.header-mail::after {
  cursor: pointer;
} */

/*---------- Header---------------- */
.header {
  /* position: absolute;
  width: 100%;
  left: 0; */
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  margin-right: 93px;
}
.header-list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.header-icon {
  fill: #757575;
}
/* .header-icon-first {
  fill: #57575;
} */
/* .header-item-content {
  justify-content: center;
  align-items: center;
  margin-left: 10px;
} */
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-list {
  display: flex;
}
.header-logo-first {
  color: #000000;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current {
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -32px;
}

.header-first-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header-svg {
  margin-right: 10px;
}

/* .header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
} */

/* .header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-icon:hover,
.header-icon:focus {
  fill: var(--accent-color);
} */
.header-icon {
  margin-right: 10px;
}
/* .header-list-content:hover,
.header-list-content:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
} */

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-connect {
  margin-left: auto;
}
/*----------HERO-------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 600px;
  left: 0px;
  top: 80px;
}
.hero-title {
  box-sizing: content-box;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 30px;

  color: var(--first-title-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--first-title-color);
  background-color: var(--accent-color);
  min-width: 200px;
  min-height: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/*----------------HERO LIST------------*/
.hero-list {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-social-link {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}
.hero-social-icon {
  fill: currentColor;
}
.hero-pre-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(title);
}
.hero-pre-title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.hero-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.hero-item-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.hero-item {
  width: calc(100% / 4 - 30px);
  margin-right: 30px;
  /* height: 251px; */
}
/* .hero-item:not(:last-child) {
  margin-right: 30px;
} */

/*---------------------WORK-------------------- */
.work {
  padding-top: 0px;
  padding-bottom: 94px;
}
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.work-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
}
/* .work-item :not(last-child) {
  margin-right: 30px;
} */
.work-item:hover .work-img-text {
  transform: translateY(0);
}

.work-img-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 274px;
  padding: 27px;
  /* transform: translateY(100%);
  transition: transform 300ms linear; */
}
/* .work-item-wrap {
  position: relative;
  overflow: hidden;
} */
/*---------------------TEAM-------------------- */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--third-title-color);
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-bottom: 10px;
}
.team-profession {
  margin-bottom: 16px;
}
/* .team-profession {
  padding-bottom: 30px;
} */
.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--first-title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--first-title-color);
}
/* .team-social-link-second {
  width: 44px;
  height: 44px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--first-title-color);
} */
/*------------CLIENTS----------------*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;
}
.clients-social-list {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}
.clients-social-item {
  width: calc(100% / 6 - 30px);
  margin-left: 30px;
}
/* .clients-social-item :not(last-child) {
  margin-right: 30px;
} */
.clients-social-item + .clients-social-item {
  margin-left: 30px;
}
.clients-social-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-social-icon {
  fill: currentColor;
}
.clients-social-link:hover,
.clients-social-link:focus {
  background-color: var(--btn-color);
  color: var(--accent-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
}
/* .clients-social-link-second {
  width: 170px;
  height: 92px;
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
  /* border: 1px solid #afb1b8; */

/* .clients-social-link-second:hover,
.clients-social-link-second:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
} */
/*---------------------FOOTER-------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-container {
  display: flex;
}
.footer-first {
  margin-right: 70px;
}
.footer-list {
  width: 231px;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-map {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}
.footer-tel,
.footer-mail {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*
.footer-mail {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
*/

.footer-logo-second {
  color: var(--first-title-color);
}
.footer-light {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-light:hover,
.footer-light:focus {
  color: var(--accent-color);
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-second {
  vertical-align: baseline;
}
.footer-third {
  vertical-align: baseline;
  margin-left: 93px;
}
.footer-four {
  vertical-align: baseline;
  margin-left: 12px;
}

.footer-btn {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  background-color: var(--accent-color);
  padding: 10px 29px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  border: none;
}
.footer-title-first {
  margin-bottom: 36px;
}
.form-input-first {
  width: 358px;
  height: 50px;
  border: 1px solid#999999;
  background-color: #2f303a;
  border-radius: 5px;
  padding-left: 16px;

  color: #ffffff;
  outline: none;
  transition: border-color 500ms;
}
.footer-social-item-first:hover,
.footer-social-item-first:focus {
  box-sizing: border-box;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--btn-color);

  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.footer-social-list-first {
  /* display: flex; */
  justify-content: center;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--first-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--first-title-color);
}
.footer-social-icon-first {
  fill: currentColor;
  margin-left: 10px;
}
/* .footer-social-link-second {
  width: 44px;
  height: 44px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--first-title-color);
} */

/*---------------------PORTFOLIO-------------------- */
.all-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  background-color: var(--accent-color);
  padding: 6px 22px;
}
.web-btn,
.app-btn,
.design-btn,
.marketing-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  padding: 6px 22px;
}
.portfolio-button {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  list-style: none;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio-button-list:not(:last-child) {
  margin-right: 8px;
}

/*---------------------PROJECT-------------------- */
.project-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-title-color);
}
.project-program {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.btn-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-link:hover,
.btn-link:focus {
  background-color: var(--accent-color);
  color: var(--btn-color);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  width: calc(100 / 3 -30px);
  max-width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.project-item:not(:nth-last-child(3n)) {
  margin-left: 30px;
}
.project-item:hover .project-img-text {
  transform: translateY(0);
}

.project-img-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 300ms linear;
}
.project-item-wrap {
  position: relative;
  overflow: hidden;
}
/*
.project-program {
  border-left: 5px solid #eeeeee;
  border-right: 5px solid #eeeeee;
  border-bottom: 5px solid #eeeeee;
  padding-left: 24px;
}
.project-name {
  border-left: 5px solid #eeeeee;
  border-right: 5px solid #eeeeee;
  padding-left: 24px;
} */
.project-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
/* .project-shadow:hover,
.project-shadow:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */
.project-shadow {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-shadow:hover,
.project-shadow:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 164, 189, 0.62);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px 39px 40px 41px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #999999;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.input-icon-second {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
/* .data-modal-close:focus + .input-icon-second {
  fill: var(--accent-color);
} */
.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 15px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-second {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 500ms;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid#999999;
  border-radius: 5px;
  padding-left: 40px;
  color: #2196f3;
  outline: none;
  transition: border-color 500ms;
}

.form-input:focus {
  border-color: #2196f3;
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
/* .form-text:focus {
  border-color: var(--accent-color);
}

.form-text:focus + .input-icon {
  fill: var(--accent-color);
} */

.input-text {
  font-size: 12px;
  color: rgba(117, 117, 117);
  display: block;
  margin-bottom: 4px;
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}
.form-input,
.form-text {
  box-shadow: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-text:focus {
  border-color: var(--accent-color);
}

.field {
  border: 1px solid green;
  border-radius: 5px;
}

.check-text {
  font-size: 14px;
  line-height: 1.2;
  color: #999999;
  display: flex;
  align-items: center;
  position: relative;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.policy-icon {
  fill: transparent;
}
.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--accent-color);
}
.policy-check:checked + .check-text .policy-icon {
  fill: var(--btn-color);
}
.text-color {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 5px;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  background-color: #188ce8;
  padding: 10px 29px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}
/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: block;
}
.policy-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
/* .check-text::after {
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 50%;
  background-color: #c8c3c3;
  position: absolute;
  left: 2px;
  top: 3px;
  transition: transform 500ms, background-color 500ms;
}

.policy-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: honeydew;
} */ ;
