body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.post-title {
  text-align: center;
}

.align-left {
  text-align: left;
}
.title {
  color: var(--third-title-color);
}
